body {
    padding-top: 70px;
}


.my-nav {
  background-color: #888888;
}

/* MENU 下拉後樣式*/
.container .navbar-collapse {
  /*display: inline-block;*/
  position: fixed;
  right: 0;
  margin:0;
  /*background-color: red;*/
}

.navbar-collapse .navbar-nav {
  margin-top: 0;
}

.navbar-collapse>ul>li {
  margin: 0;
}

/*MENU 去導角*/
.nav>li>a {
  border-radius: 0;
}

/*NAV BAR 字色*/
.my-nav .navbar-brand {
  color: #ffffff;
  text-shadow: 0 0 15px #fff, 0 0 10px #fff; /* 09/26 文字陰影*/

}

/*MENU 樣式*/
.navbar-nav .my-button {
  background-color: #888888;
  border: none;
  box-shadow: inset 3px 3px 10px 0; /* 09/26 新增Button效果*/
  /*box-shadow: h-shadow v-shadow blur spread color inset;
*/
  text-shadow: 0 0 8px #fff;
}

/*MENU 字色*/
.navbar-default .navbar-nav>li>a{
  color: #ffffff;
}

/*Toggle bar*/
.navbar-default .navbar-toggle { 
  background-color: white;
  border:none;
}

/* About me*/
#about-me, #my-project, #contect-me {
  padding-top: 70px;
}

#about-me h1 {
  text-shadow: 3px 3px 5px #888888; /* 09/26 */
}

/* My project */
#my-project {
  text-align: center;
  text-shadow: 3px 7px 5px #888888; /* 09/26 */
}



div img {
  /*border: 5px solid red;*/
  width: 100%; /* 把圖變成跟div等大避免排版怪異 */
  margin: 10px auto;

}

/* Contact me*/
#contact-me {
  text-shadow: 3px 8px 5px #888888; /* 09/26 */
}

#contact-me-button {
  text-align: center;
}
#my-reset, #my-submit {
  display: inline-block;
  font-weight: 900;
  padding: 10px 30px;
  margin: 5% 3%;
}


